@import 'base/variables';
@import 'components/clock';

.menu-text {
    color: white;
}

.top-bar {
    background-color: $grey;
    .menu{
        background-color: $grey;
    }
    p {
        color: white;
    }
    .active-link{
        font-weight: bold;
    }
    span{
        color: white;
    }
}
